@* Camiamos el modelo de dominio por el ViewModel *@
@model List<MVC.ViewModels.PeliculaIndexViewModel> 

@{
    ViewData["Title"] = "Listado de Peliculas";
}

<h2>Listado de Peliculas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Pelicula</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Titulo</td>
                <td>@p.Anio</td>
                <td>@p.Categoria</td>
                <td>
                    <a asp-action="Update" asp-route-id="@p.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@p.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>